* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #EBFFDB;
    --secondary-color: #2a2a2a;
    --shadow: rgb(181, 180, 180)
}

.dark-mode {
    --secondary-color: #EBFFDB;
    --primary-color: #2a2a2a;
    --shadow: rgba(109, 109, 109, 0.705);
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
    height: 100vh;
    color: var(--secondary-color);
}

#holder {
    position: relative;
    min-height: 100%;
}

.container {
    /* height: 90%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    padding: 4rem 2rem 6rem;
    gap: 3rem;
}

.bmi-calculator-card {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    height: fit-content;
    padding: 2rem 2rem 1rem;
    box-shadow: 4px 8px 12px var(--shadow);
}

.weight-container p, .height-container p {
    padding-bottom: .5rem;
    color: #65BF21;
}

.input-field, .calc-btn {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 1.8rem;

}

input {
    width: 80%;
}

input, select {
    outline: none;
    border: none;
    padding: 0 .3rem;
    background-color: transparent;
    color: var(--secondary-color);
}

select {
    text-align: right;
    cursor: pointer;
}

.calc-btn {
    width: fit-content;
    cursor: pointer;
    transition: background .5s, color .5s;
}

.calc-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.result {
    display: block;
}

.bmi-information img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.bmi-information p {
    width: 90%;
}

footer {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}

footer > p {
    padding: .5rem 1rem;
}

.danger {
    color: red;
}

.mode-toggle {
    position: fixed;
    right: .8rem;
    bottom: .8rem;
    padding: .2rem;
}

.toggle-button-container {
    border: 2px solid var(--secondary-color);
    display: flex;
    border-radius: 10px;
    background-color: #908f8f;
}

.toggle-light,
.toggle-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 40px;
    height: 25px;
    padding: 1.1rem;
    border: 0;
}

.active {
    background-color: #EBFFDB;
}
/* Mobile view  */

@media screen and (max-width: 615px){
    .container {
        grid-template-columns: 1fr;
    }

    .bmi-information img, .bmi-information p {
        width: 100%;
    }

    .mode-toggle {
        bottom: .5rem;
    }

    .toggle-light,
    .toggle-dark {
        padding: .9rem;
    }

}